.inputDiv {
  position: absolute;

  background: white;
  z-index: 20;
  width: 100%;
  max-width: 600px;
  font-size: 20px;
  padding: 20px;
  box-shadow: 4px 9px 31px 0px rgba(0, 0, 0, 0.75);
  margin: 10px;
  transition: all 0.9s ease;
}

@media screen and (min-width: 747px) {
  .inputDiv {
    top: -40px;
    right: 40px;
  }
}
@media screen and (max-width: 747px) {
  .inputDiv {
    text-align: center;
    top: -40px;
    width: 95%;
    font-size: 18px;
  }
}
